<div class="navbar-container" [ngClass]="{ collapsed: isNavbarCollapsed }">
  <nav>
    <ul *ngIf="!isNavbarCollapsed">
      <li>
        <a
          routerLink="/Agencia"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Agencia</a
        >
      </li>
      <li>
        <a
          routerLink="/Cartao"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Cartao</a
        >
      </li>
      <li>
        <a
          routerLink="/Cliente"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Cliente</a
        >
      </li>
      <li>
        <a
          routerLink="/Emprestimo"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Empréstimo</a
        >
      </li>
      <li>
        <a
          routerLink="/Conta"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Conta</a
        >
      </li>
      <li>
        <a
          routerLink="/Endereco"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Endereco</a
        >
      </li>
      <li>
        <a
          routerLink="/investimento"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >investimento</a
        >
      </li>
      <li>
        <a
          routerLink="/Movimentacao"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Movimentacao</a
        >
      </li>
      <li>
        <a
          routerLink="/Seguro"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Seguro</a
        >
      </li>
      <li>
        <a
          routerLink="/Tranferencia"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Tranferencia</a
        >
      </li>
    </ul>
  </nav>
</div>
